# Avoid the 'bash: __vsc_prompt_cmd_original: command not found' error
unset PROMPT_COMMAND

# Define some handy aliases for use in GitPod
alias workspace="cd ${GITPOD_REPO_ROOT}"
alias webui="gp preview $(gp url 8080)"

# Configure a shorter, but still useful, shell prompt
export PROMPT_DIRTRIM=2
export PS1="\[\033[01;34m\]\w\[\033[00m\]\$ "

# Exercise-specific Java aliases
alias microservce="cd ${GITPOD_REPO_ROOT}/utilities/microservice && mvn exec:java -Dexec.mainClass="translationapi.Microservice""

alias ex1="cd ${GITPOD_REPO_ROOT}/exercises/durable-execution/practice"
alias ex1s="cd ${GITPOD_REPO_ROOT}/exercises/durable-execution/solution"
alias ex1w="mvn exec:java -Dexec.mainClass='translationworkflow.TranslationWorker'"
ex1st() {
    mvn exec:java -Dexec.mainClass="translationworkflow.Starter" -Dexec.args="${1}"
}

alias ex2="cd ${GITPOD_REPO_ROOT}/exercises/testing-code/practice"
alias ex2s="cd ${GITPOD_REPO_ROOT}/exercises/testing-code/solution"
alias ex2t="mvn test"


alias ex3="cd ${GITPOD_REPO_ROOT}/exercises/debug-activity/practice"
alias ex3s="cd ${GITPOD_REPO_ROOT}/exercises/debug-activity/solution"
alias ex3w="mvn exec:java -Dexec.mainClass='pizzaworkflow.PizzaWorker'"
alias ex3st="mvn exec:java -Dexec.mainClass='pizzaworkflow.Starter'"
